.score-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow: 0 4px 6px rgba(136, 84, 192, 0.3),
    0 1px 3px rgba(136, 84, 192, 0.3);
}

.score-card-position {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

td {
  border: solid 1px rgb(136, 84, 192);
  padding: 12px;
}

.text-center {
  text-align: center;
}
