<div class="score-card-position">
    <div class="score-wrapper">
        <h2 class="text-center">Congratulations 🎉 {{quizResult.name}} <br> Your results are below:</h2>
        <table>
            <tr>
                <td>Score:</td>
                <td>{{quizResult.score}}</td>
            </tr>
            <tr>
                <td>Percentage:</td>
                <td>{{quizResult.percentage}}%</td>
            </tr>
            <tr>
                <td>Correct:</td>
                <td>{{quizResult.correct}}</td>
            </tr>
            <tr>
                <td>Incorrect:</td>
                <td>{{quizResult.incorrect}}</td>
            </tr>
            <tr>
                <td>Unattempt:</td>
                <td>{{quizResult.unattempt}}</td>
            </tr>
        </table>
    </div>
</div>