$menuHeight: 60px;
$menuBreakpoint: 768px;

#my-first {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--light-purple-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .logotype {
    a {
      padding: 0 8px;
      font-size: 1.4rem;
      text-decoration: none;
      color: #07c;
    }
  }

  .burger {
    padding: 0 10px;
    border-left: 1px solid var(--grey-color);
    display: none;
    cursor: pointer;

    i {
      color: var(--light-color);
      line-height: $menuHeight;
    }

    @media (max-width: $menuBreakpoint) {
      display: block;
    }
  }

  .menu {
    display: flex;
    align-items: center;

    @media (max-width: $menuBreakpoint) {
      display: none;

      &.is-open {
        display: block;
        position: absolute;
        top: 85px;
        background: var(--light-purple-color);
        width: 100%;
        z-index: 1;
      }

      .active {
        border: 2px solid #6c4298;
        transform: scale(1.1);
        transition: border-bottom 0.3s ease, color 0.3 ease, transform 0.3 ease;
      }

      .menu-item {
        padding: var(--padding-sm);
      }
    }

    .menu-item {
      text-align: center;
      padding: var(--padding-md);
      height: $menuHeight;
      line-height: $menuHeight;
      text-decoration: none;
      display: block;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 600;
      color: var(--light-color);
    }
  }
}

.active {
  border-bottom: 2px solid #6c4298;
  transform: scale(1.1);
  transition: border-bottom 0.3s ease, color 0.3 ease, transform 0.3 ease;
}

.theme-control {
  display: flex;
  margin-right: var(--margin-md);
}
