.rules-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  padding: 24px;
  width: 800px;
  height: 700px;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow: 0 4px 6px rgba(136, 84, 192, 0.3),
    0 1px 3px rgba(136, 84, 192, 0.3);
}
