<div class="flex">
    <div class="rules-wrapper">
        <div>
            <h1 class="text-center">Here's what you need to know:</h1>
            <p>
                <span class="font-bold">1. Quiz Structure:</span> The quiz consists of 5
                multiple-choice questions. Each question has four possible answers, but
                only one is correct.
            </p>
            <p>
                <span class="font-bold">2. Scoring:</span> Each correct answer earns you
                points. There are no penalties for incorrect answers, so feel free to
                guess if you're unsure!
            </p>
            <p>
                <span class="font-bold">3. Results:</span> At the end of the quiz,
                you'll receive your score.
            </p>
        </div>
        <div>
            <h1 class="text-center">How to Play:</h1>
            <p>
                1. Click the "Take QUIZ" section from menu. On the code input enter one
                of two available codes for the moment:
                <span class="font-bold">SCQ1</span> or
                <span class="font-bold">SCQ2.</span> Complete with your name too on the
                other input.
            </p>
            <p>
                2. Read each question carefully and select the answer you believe is
                correct.
            </p>
            <p>
                3. Once you've answered all the questions, click "Submit" to see your
                results.
            </p>
        </div>
        <div>
            <h3>Enjoy the quiz and may the best brain win!</h3>
        </div>
    </div>
</div>