<div class="card-position">
    @if(currentQuestion) {
    <div class="quiz-wrapper">
        <h2>{{quizInfo.name}}</h2>
        <div class="content flex">
            <h3>{{currentQuestion.content}}</h3>
        </div>
        @for(option of currentQuestion.options; track option) {
        <div class="content d-flex-opt cursor-pointer" (click)="currentSelectedOptionId=option.id">
            <mat-radio-button color="primary" [value]="option.id"
                [checked]="currentSelectedOptionId==option.id"></mat-radio-button>
            <p>{{option.content}}</p>
        </div>
        }
        <div>
            @if(currentQuestionNumber==quizInfo.questions.length-1) {
            <button class="quiz-btn" (click)="submit()">submit</button>
            } @else {
            <button class="quiz-btn" (click)="next()">next</button>
            }
        </div>
    </div>
    }
</div>