.quiz-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  width: 800px;
  height: 600px;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow: 0 4px 6px rgba(136, 84, 192, 0.3),
    0 1px 3px rgba(136, 84, 192, 0.3);
}

.card-position {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.card-position .quiz-wrapper .content {
  padding: 12px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(136, 84, 192, 0.3),
    0 1px 3px rgba(136, 84, 192, 0.3);
}

.d-flex-opt {
  display: flex;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.quiz-wrapper .quiz-btn {
  border: none;
  border-radius: 0.5rem;
  outline: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin: 0 auto 0 auto;
  margin-top: 24px;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  background-color: var(--light-purple-color);
  color: var(--light-color);
  letter-spacing: 2px;
  transition: var(--transition);
  box-shadow: 0 4px 0 0 #6c4298;
}

.quiz-wrapper .quiz-btn:hover {
  background-color: #e6e6e6;
  box-shadow: 0 4px 0 0 #a7a7a7;
  color: var(--dark-color);
}

.quiz-wrapper .quiz-btn:hover {
  transform: scale(0.95);
}
